ARCHS = x86_64
VALID_ARCHS = x86_64
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.7

LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
INSTALL_PATH = @rpath

EQ_PROJECT_PID = PID110
EQ_PROJECT_LOCALIZATION_PLI_VERSION = 2.0
EQ_PROJECT_LOCALIZATION_LANGUAGES = en:de
EQ_PROJECT_LOCALIZATION_MAIN_LANGUAGE = en
EQ_PROJECT_LOCALIZATION_GROUPS = LG573
